<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website - Create</title>
</head>

<body>

    <%- include("../partials/nav.ejs") %>
        <h1>Create a new blog</h1>

        <%- include("../partials/footer.ejs")%>
</body>

</html>